---
layout: default
title: Home
---
<head>
<style>
* {
  box-sizing: border-box;
}

ul li { margin-bottom: 10px; }

.img-container-full {
  float: left;
  width: 100.00%;
  padding: 5px;
}

.img-container-center-full {
  float: center;
  width: 100.00%;
  padding: 10px;
  padding-left: 60px;
}

.img-container-center-full-shift {
  float: center;
  width: 100.00%;
  padding: 5px;
  padding-left: 225px;
}

.img-container-wide {
  float: left;
  width: 50.00%;
  padding: 5px;
}

.img-container {
  float: left;
  width: 25.00%;
  padding: 5px;
}
/*used to say float: left and width: 47*/ 
/*used to float: center and 88 width*/

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
</style>
</head>

<!-- ========== BIO ========== -->
<div class="docs-section" id="bio">
  <h4>Bio</h4>
  <p>
  I am a Member of the Technical Staff at Radical Numerics, an SF- and Tokyo-based startup building frontier biological sequence models. My research efforts focus on (a) building modeling primitives for long-context attribution and interpretability, (b) test-time model steering, and (c) methods applications for AI-driven knowledge acquisition — ultimately aiding in our understand of biological systems and the natural world.
  </p>
  <p>
  I completed my PhD in Biomedical Informatics at the department of Biomedical Data Science and Stanford AI Lab (SAIL), where I was extremely fortunate to be co-advised and mentored by <a href="http://mallicklab.stanford.edu/" target="_blank">Parag Mallick</a> (Radiology) and <a href="https://cs.stanford.edu/~chrismre/" target="_blank">Christopher Ré</a> (CS). My undergraduate training was in Applied Mathematics and Bioengineering at University of California, Berkeley. My CV can be found <a href="https://docs.google.com/document/d/18GSGlWmmsnwIC8LWERlCsfV4lwQD6Ddhe3mG-3Y9FRE/edit?usp=sharing" target="_blank">here</a>.
  </p>
  <p> 
  <b>My name</b> is most similarly pronounced as Batman's city of residence, "Gotham" (i.e. <i>GAW-thum</i>). There are many intonation variants for my Sanskrit-originating name across India, but this pronunciation is the closest to the North Indian variant. I also go by "Machi" if that's easier. 
  </p>
</div>


<!-- ========== Research ========== -->
<div class="docs-section" id="research">
  <h4>Research Artifacts</h4>

  I've had the pleasure of building models for multiple "token types", modalities, and biomedical domains:
  <ul>
    <li><b>pixels</b> in <font color="#cf44db">images</font> — pathology slides, edge devices, video frames, satellite imagery</li>
    <li><b>cells</b> in <font color="#425fff">tumors</font> — spatial proteomics</li>
    <li><b>text spans</b> in <font color="#03a39e">natural language</font> — scientific literature, EHRs</li>
    <li><b>monomers</b> in <font color="#8337ed">biological sequences</font> — DNA, proteins</li>
  </ul> 

  My most recent publications can be found on <a href="{{ site.data.main_info.google_scholar }}" target="_blank">Google Scholar</a>, with a representative sample here:
  <p></p>
  
  <ul class="tab-nav">
    <li><div class="button active" data-ref="#papers-selected">Selected</div></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="papers-selected">
      {% assign selected_papers = site.data.publications.papers | where: "selected", "y" %}
      {% for paper in selected_papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b></p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
           <div class="paper-buttons">
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">Paper</a>
            {% endif %}

            {% if paper.slides %}
              <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}

            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}

            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}

            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

<!--   <p>Stay tuned for future research artifacts centered around: 
  <ul>
    <li>Attributor models for spatial biology: <i>in silico</i> approaches to discover pathomic patterns of aggressive cancers</li>
    <li>Agentic workflows for clinical reasoning</li>
    <li>A review on spatial statistics and AI methods for spatial biology</li>
  </ul> 
  </p> -->
</div>


 <!-- ========== ETCETERA ==========  -->
<div class="docs-section" id="etcetera">
  <h4>Etcetera</h4>
  <p> 
    In my down-time, I explore graphic and visual design, architectural/street photography, and sound design. 
    </p>
  <ul class="tab-nav">
    <li><div class="button active" data-ref="#projects-selected">Selected</div></li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="projects-selected">
      {% assign selected_projects = site.data.projects.projects | where: "selected", "y" %}
      {% for project in selected_projects %}
        {% assign index_modulo = forloop.index0 | modulo:3 %}
        {% if index_modulo == 0 %}
          <div class="row">
        {% endif %}

          <div class="four columns">
            <div class="project-container">

                <div class="project-image-container">
                  <a href="{{ project.url }}">
                    <img src="{{ project.thumbnail }}" class="u-max-full-width" />
                  </a>
                </div>

                <div class="project-caption">
                  <b>{{ project.title }}</b> <br/>
                  {{ project.subtitle }}
                </div>

            </div>
          </div>

        {% if index_modulo == 2 %}
          </div>
        {% endif %}
      {% endfor %}
    </div>

    <div class="tab-pane" id="projects-all">
      {% for project in site.data.projects.projects %}
        {% assign index_modulo = forloop.index0 | modulo:3 %}
        {% if index_modulo == 0 %}
          <div class="row">
        {% endif %}

          <div class="four columns">
            <div class="project-container">

                <div class="project-image-container">
                  <a href="{{ project.url }}">
                    <img src="{{ project.thumbnail }}" class="u-max-full-width" />
                  </a>
                </div>

                <div class="project-caption">
                  <b>{{ project.title }}</b> <br/>
                  {{ project.subtitle }}
                </div>

            </div>
          </div>

        {% if index_modulo == 2 %}
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>

</div>


<div class="docs-section" id="template">
    <h4>Acknowledgement</h4>
    <p>
    This website uses the website design and template by <a href="https://github.com/msaveski/www_personal">Martin Saveski</a>. Some stylisitc alterations were made with inspiration from <a href="https://github.com/thashim/thashim.github.io">Tatsunori Hashimoto</a>.
  </p>
</div>
