---
layout: default
title: Home
---
<head>
<style>
* {
  box-sizing: border-box;
}

ul li { margin-bottom: 10px; }

.img-container-full {
  float: left;
  width: 100.00%;
  padding: 5px;
}

.img-container-center-full {
  float: center;
  width: 100.00%;
  padding: 10px;
  padding-left: 60px;
}

.img-container-center-full-shift {
  float: center;
  width: 100.00%;
  padding: 5px;
  padding-left: 225px;
}

.img-container-wide {
  float: left;
  width: 50.00%;
  padding: 5px;
}

.img-container {
  float: left;
  width: 25.00%;
  padding: 5px;
}
/*used to say float: left and width: 47*/ 
/*used to float: center and 88 width*/

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

.spaced-list {
  margin-top: 0.3em;
}

</style>
</head>

<!-- ========== BIO ========== -->
<div class="docs-section" id="bio">
  <h4>Bio</h4>
  <p>
  
  I am an AI/ML & Data Scientist at the <b>Palo Alto Veterans Institute for Reseach</b> <a href="https://www.pavir.org/about-us/who-we-are-1574200952/" target="_blank">(PAVIR)</a>, 
    where I design, develop, and validate machine-learning pipelines to guide clinical decision-making, enhance care delivery, and improve patient outcomes. 
    In this role, I’m also an affiliated researcher at Stanford Cardiovascular Medicine's <a href="https://heart.stanford.edu/lab/" target="_blank">Heart Lab</a>,
    working primarily under the supervision of <a href="https://profiles.stanford.edu/alexander-sandhu" target="_blank">Alex Sandhu</a>.
  </p>
  
  <p>
  I earned my PhD in Biomedical Informatics from Stanford's department of Biomedical Data Science <a href="https://dbds.stanford.edu/" target="_blank">(DBDS)</a>, with a minor in Management of Science and Engineering <i></i>(MS&E).</i>
    My dissertation work was co-advised by <a href="https://profiles.stanford.edu/michael-baiocchi" target="_blank">Mike Baiocchi</a> 
    and <a href="https://profiles.stanford.edu/jonc101?tab=bio" target="_blank">Jonathan Chen</a>. 
  </p>
    
  <p> 
    
  Prior to Stanford, my US education journal began at City College of San Francisco. continued at San Francisco State University with a BS in Nursing. 
    Under the mentorship of <a href="https://www.nursing.sfsu.edu/larry-vitale" target="_blank">Larry Vitale</a>, and <a href="https://biology.ucdavis.edu/people/f-javier-arsuaga" target="_blank">Javier Arsuaga</a>, 
    I went on to learn about Biostatistics through the <a href="https://www.nhlbi.nih.gov/grants-and-training/summer-institute-biostatistics" target="_blank">SIBS</a> progam at Emory University.
    I then completed a MA in <a href="https://publichealth.berkeley.edu/academics/biostatistics" target="_blank">Biostatistics</a> from the University of California, Berkeley. My thesis work was advised by <a href="https://publichealth.berkeley.edu/people/alan-hubbard" target="_blank">Alan Hubbard</a>.  
  </p>

</div>


<!-- ========== Work ========== -->
<div class="docs-section" id="work">
  <h4>Work</h4>

  <p>
    I’m passionate about optimizing clinical decision-making to improve patient outcomes and build learning health systems. 
    My work is at the intersection of large-scale machine learning and advanced statistical methods, with a focus on designing, evaluating, and integrating interventions into real-world health system workflows. 
  </p>

  <p>
    During my graduate studies, I developed predictive models, estimated causal effects, and answered critical clinical questions. 
    In my post-PhD work, I’ve leveraged large language models to generate clinical insights. 
   </p>

  <p>
    My core areas of work include:
  </p>

  <ul class="spaced-list"> 
    <li><b>Data Analytics</b>: Extract insights from structured and unstructured EHR data at Stanford Health Care and the Veterans Affairs.</li> 
    <li><b>Analytics Frameworks</b>: Enhance model development through problem reframing, rigorous evaluation, and continuous iteration.</li> 
    <li><b>Pragmatic Trial Design & Causal Inference</b>: Measure the causal impact of machine-learning–driven clinical interventions on patient outcomes.</li> 
  </ul>
  
  <p>
  My publications, listed on <a href="https://scholar.google.com/citations?hl=en&user=oY7s6eoAAAAJ&view_op=list_works&sortby=pubdate" target="_blank">Google Scholar</a>, 
  span multiple domains: clinical (nursing research in Nature Scientific Reports), statistical methodology (The American Statistician), and machine-learning–driven informatics (Journal of the American Medical Informatics Association).
  </p>
  
  <ul class="tab-nav">
    <li><div class="button active" data-ref="#papers-selected">Selected Publications</div></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="papers-selected">
      {% assign selected_papers = site.data.publications.papers | where: "selected", "y" %}
      {% for paper in selected_papers %}
        <div class="paper">
          <p class="title"><b>{{ paper.title }}</b></p>
          <p>{{ paper.authors }}</p>
          <p><i>{{ paper.venue }}</i></p>
           <div class="paper-buttons">
            {% if paper.paper_pdf %}
              <a class="button" href="{{ paper.paper_pdf | prepend: site.baseurl }}" target="_blank">Paper</a>
            {% endif %}

            {% if paper.slides %}
              <a class="button" href="{{ paper.slides | prepend: site.baseurl }}" target="_blank">Slides</a>
            {% endif %}

            {% if paper.poster %}
              <a class="button" href="{{ paper.poster | prepend: site.baseurl }}" target="_blank">Poster</a>
            {% endif %}

            {% if paper.video %}
              <a class="button" href="{{ paper.video }}" target="_blank">Video</a>
            {% endif %}

            {% if paper.code %}
              <a class="button" href="{{ paper.code }}" target="_blank">Code</a>
            {% endif %}
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

<!--   <p>Stay tuned for future research artifacts centered around: 
  <ul>
    <li>Attributor models for spatial biology: <i>in silico</i> approaches to discover pathomic patterns of aggressive cancers</li>
    <li>Agentic workflows for clinical reasoning</li>
    <li>A review on spatial statistics and AI methods for spatial biology</li>
  </ul> 
  </p> -->
</div>


 <!-- ========== RANDOM ==========  -->
<div class="docs-section" id="random">
  <h4>Random</h4>
  <ul class="spaced-list">
    <li>TA experience: UC Berkeley’s undergrad <em>Intro to Statistics</em> and Stanford’s graduate <em>Data-Driven Medicine</em> course with Nigam Shah.</li>
    <li>Served as Student Rep for Stanford’s Biomedical Data Science department; honored with BioDesign Innovation & Next awards, a DARE fellowship, and a Data Science Scholar. </li>
    <li>I still moonlight as a per-diem clinical nurse at UCSF Health.<span role="img" aria-label="smiling face">🫀</span></li>
    <li>Early in my nursing career I was voted as “Best New Nurse” and “Best Nurse to Follow” at my home unit’s (14 Moffitt) annual celebration. <span role="img" aria-label="smiling face">😊</span></li>
    <li>Music lover (especially guitars), sports fan, and always up for a new hobby; recently tried dance, ceramics, printmaking </li>
  </ul>

  <h4>Acknowledgement</h4>
    <p>
    This website uses the original website design and template by <a href="https://github.com/msaveski/www_personal">Martin Saveski</a>, with changes from <a href="https://github.com/gmachiraju/gmachiraju.github.io">Gautam Machiraju</a>.
    </p>
</div>
